:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

/* Colors */
:root {
  --color-default: #393E46;
  --color-primary: #6D9886;
  --color-secondary: #ffffff;
  --color-tertiary: #f8f9fa;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
  background: var(--color-secondary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Hero Section (template)
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0;
}

.hero .img-container {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}

.hero .img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .info h2 {
  color: #fff;
  padding-bottom: 20px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.hero .info .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 30px;
  transition: 0.5s;
  margin: 20px;
  color: #fff;
  border: 2px solid var(--color-primary);
}

.hero .info .btn-get-started:hover {
  background: var(--color-primary);
}

.btn-primary {
  background-color: #6D9886;
  border-color: #6D9886;
  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #5e8374;
  border-color: #5e8374;
  color: #FFFFFF;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #4d6c5f !important;
  border-color: #4d6c5f !important;
  color: #FFFFFF !important;
}

.btn-learn-more {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 30px;
  transition: 0.5s;
  margin: 40px;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn-learn-more:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

  /*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/

.mission-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

#mainNav {
  background-color: var(--color-default);
  color: var(--color-secondary);
  transition: all 0.5s;
  z-index: 997;
}

/*--------------------------------------------------------------
# Sections & Section Header (template)
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: var(--color-tertiary);
}

.section-header{
  text-align: center;
  font-weight: bold;
}

.section-subtitle{
  text-align: center;
  font-weight: bold;
  color: var(--color-primary);
  padding-bottom: 40px;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 140px 0 60px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}

.breadcrumbs h2 {
  font-weight: bold;
  font-size: 56px;
  color: var(--color-secondary);
}

.breadcrumbs h5 {
  color: var(--color-tertiary);
}

.followup-header{
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

#verification-message {
  display: none; 
  color: var(--color-primary);
  text-align: center;
  border-radius: 5px;
}

/*--------------------------------------------------------------
# Missions carousel
--------------------------------------------------------------*/
#carousel-2{
  position: relative;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}

#carousel-2 .carousel-inner {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

#carousel-2 img{
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 0;
}

#carousel-2 .carousel-content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;;
  z-index: 1;
  padding: 40px;
}

#carousel-2 .carousel-content h1 {
    font-size: 8vw;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-secondary);
    line-height: 1;
    padding-top: 40px;
    padding-bottom: 20px;
}

#carousel-2 .carousel-content h2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-secondary);
  display: inline-block;
  position: relative;
}

#carousel-2 .carousel-text {
  position: relative;
  top: 50%; /* Adjust the value to position the container below the h1 element */
  left: 50%;
  transform: translate(-50%, -5%);
  background-color: rgba(57, 62, 70, 0.2);
  color: var(--color-secondary);
  padding: 25px;
  max-width: 800px; /* Set a maximum width if desired */
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the background color and opacity as needed */
  opacity: 1;
}

#carousel-2 .btn-location {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 30px;
  transition: 0.5s;
  margin: 40px;
  color: var(--color-secondary);
  border: 2px solid var(--color-primary);
}

#carousel-2 .btn-location:hover {
  background: var(--color-primary);
}

/*--------------------------------------------------------------
# Missions carousel
--------------------------------------------------------------*/

.img-normal {
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    min-height: 300px;
  }

.ill-normal {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 300px;
}

.custom-card-title{
  font-weight: bold;
  padding-bottom: 10px;
}

.custom-card{
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: 0.3s;
}

.container-section{
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-col{
  margin-top: 10px;
  margin-bottom: 10px;
}

.con-button{
  text-align: center;
}

.card-tit{
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 450px;
  width: 600px;
}

.location-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
  object-fit: cover;
  height: 200px;
}

.form-check {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.form-check-input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  outline: none;
  background-color: #f8f9fa;
  cursor: pointer;
}

.form-check-input[type="checkbox"]:checked {
  background-color: #6D9886; /* Replace with your desired color */
}

.form-check-input[type="checkbox"]:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
