:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

/* Colors */
:root {
  --color-default: #393E46;
  --color-primary: #6D9886;
  --color-secondary: #ffffff;
  --color-tertiary: #f8f9fa;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  overflow-x: hidden;
  background: var(--color-secondary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Hero Section (template)
--------------------------------------------------------------*/
.hero {
  overflow-x: hidden;
  padding: 0;
}

.hero .img-container {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}

.hero .img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: 1;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .info h2 {
  color: #fff;
  padding-bottom: 20px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.hero .info .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 30px;
  transition: 0.5s;
  margin: 20px;
  color: #fff;
  border: 2px solid var(--color-primary);
}

.hero .info .btn-get-started:hover {
  background: var(--color-primary);
}

  /*--------------------------------------------------------------
# Navigation Bar
--------------------------------------------------------------*/

#mainNav {
  background-color: var(--color-default);
  color: var(--color-secondary);
  transition: all 0.5s;
  z-index: 997;
}

/*--------------------------------------------------------------
# Sections & Section Header (template)
--------------------------------------------------------------*/

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: var(--color-tertiary);
}

.section-header{
  text-align: center;
  font-weight: bold;
}

.section-subtitle{
  text-align: center;
  font-weight: bold;
  color: var(--color-primary);
  padding-bottom: 40px;
}

.row-normal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

#welcome {
    font-size: 50px;
    font-weight: bold;
}

.subtitle-normal {
    font-weight: bold;
    color: #26843c;
}

.img-normal {
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    min-height: 300px;
  }

.ill-normal {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 300px;
}

.custom-card-title{
  font-weight: bold;
  padding-bottom: 10px;
}

.custom-card{
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: 0.3s;
}

.container-section{
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-col{
  margin-top: 10px;
  margin-bottom: 10px;
}

.map-card-title{
  font-weight: bold;
  font-size: 16px;
}

.map-card{
  font-size: 14px;
}

.con-button{
  text-align: center;
}

.card-tit{
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
}

#map{
    position: relative;
    height: 80vh;
}

#map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    overflow: hidden; 
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 450px;
  width: 600px;
}

.location-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.row-location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img{
  object-fit: cover;
  height: 200px;
}