{% extends 'location.html' %}

{% block head %}

    <title> Traffic infrastructure </title>

{% endblock %}

{% block body %}
    
    <div class="container text-center" style="padding-top: 60px; padding-bottom: 40px;">
        <h1 class="fw-bold">Traffic infrastructure</h1>
        <span>Botanical gardens: Hortus Botanicus</span>
    </div>

    <!--Missions layout-->
    <div class="container" style="padding-bottom: 40px;">
        
        <div class="row section-bg">

            <div class="album py-5">
                <div class="container">

                    <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                        <div>
                            <h2 class="card-text">Observation (200 points)</h2>
                            <p>Examine the traffic infrastructure adjacent to the Botanical Gardens (Hortus Botanicus).</p>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">A.</h5>
                                    <p>Why does the tram ride on grass and has it always been that way (check Google StreetView)?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>    
                        </div>
                        <div class="container text-center" style="padding: 20px;">
                            <a class="btn btn-primary" role="button">Submit</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container-fluid" style="padding-bottom: 40px;">
        <div class="row justify-content-end">
            <div class="col-12 col-md-10 col-lg-11"></div>
            <div class="col-12 col-md-2 col-lg-1 text-right">
                <a class="btn btn-primary" href="/map" role="button">Next</a>
            </div>
        </div>
    </div>

{% endblock %}