{% extends 'location.html' %}

{% block head %}

    <title> Traffic infrastructure </title>

{% endblock %}

{% block body %}
    <div class="row location-title">
        <div class="col text-center">
            <h1>Traffic infrastructure</h1>
            <span>Botanical gardens: Hortus Botanicus</span>
        </div>
    </div>
    <div class="row row-location">
    </div>
    <div class="row row-normal">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 30px;">
            <p class="fw-bold text-success"></p>
            <h1 class="fw-bold">Missions</h1>   
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col" style="margin-bottom: 20px;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold card-title" style="padding-bottom: 26px;">Observation (200 points)</h5>
                        <p class="text-muted card-text mb-4"><span style="color: rgb(0, 0, 0);">Examine the traffic infrastructure adjacent to the Botanical Gardens (Hortus Botanicus). Why does the tram ride on grass and has it always been that way (check Google StreetView)?</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="container text-center">
            <a class="btn btn-primary" href="map.html" role="button">Next</a>
        </div>
    </div>
{% endblock %}