{% extends 'location.html' %}

{% block head %}

    <title> Land use </title>

{% endblock %}

{% block body %}

    <div class="container text-center" style="padding-top: 60px; padding-bottom: 40px;">
            <h1 class="fw-bold">Land use</h1>
            <span>Learn more about Amsterdam's trend toward a more livable and sustainable urban environment and how land use is related to people's preferred mode of transportation.</span>
    </div>
        
    <!--Info-->
    <div class="row justify-content-center" style="padding-bottom: 60px;">
        <div class="col-md-6 col-xl-4" style="padding-right: 60px;">
            <p>The city of Amsterdam has made effort to prioritize bike infrastructure in order to make cycling the primary mode of transportation within the city. This concentrated effort can be seen on the ways land is used around Amsterdam. This effort has been driven by the need for a more sustainable but also more livable urban environment.</p>
            <p>There are variety of measures implemented to make the city easy, safe and convenient for cyclists and pedestrians. It has been even argued that Amsterdam’s bike infrastructure is so well-designed and safe, that nobody wears helmets.</p>
            <p>Overall, the changes in land use in Amsterdam reflect a larger trend towards sustainable and livable urban environments. By prioritizing cycling, Amsterdam has created a more attractive, healthier, and more vibrant city.</p>
        </div>
        <div class="col-xl-4 location-container rounded shadow">
            <img class="location-image" src="static/img/UCI Photos/Daniel Stalpartstraat.jpg" style="width: 100%; height: auto;">
        </div>
    </div>

    <!--Missions layout-->
    <div class="container" style="padding-top: 40px; padding-bottom: 40px;">
        
            <div class="row section-bg">
                
                <div class="album py-5">
                    <div class="container">
    
                        <div class="col-md-8 col-xl-6 text-md-start" style="padding-right: 80px;">
                            <div>
                                <h2 class="card-text">Observation (200 points)</h2>
                                <p>Find a crossing outside the city center. Using your urban design skills, draw the layout of the street, from building to building.</p>
                                <br>Provide a general assessment of the street’s qualities:
                                <p></p>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">A.</h5>
                                        <p>Quality of materials:<br>Poor / average / above average</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">B.</h5>
                                        <p>Landscaping:<br>Poor / average / above average</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">C.</h5>
                                        <p>Bicycle infrastructure:<br>Poor / average / above average</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
    
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">D.</h5>
                                        <p>Space for walking:<br>Poor / average / above average</p>
                                        <br>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">E.</h5>
                                        <p>Feeling safe:<br>Poor / average / above average</p>
                                        <br>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">F.</h5>
                                        <p>View your location using Google Maps Street View. Click “See more dates” and view an older version of the street. Circle elements of the assessment above that changed the most.</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="container text-center" style="padding: 20px;">
                                <a class="btn btn-primary" role="button" onclick="showVerificationMessage()">Submit </a>
                            </div>
                            <div id="verification-message">
                                <p> Missions submitted, well done! </p>
                            </div>
                        </div>
                            
    
                    </div>
                </div>
    
            </div>
    
    </div>

    <!--Info-->
    <div class="container" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 30px;">
            <p class="fw-bold text-success"></p>
            <h1 class="fw-bold"> Information </h1>
        </div>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="padding-bottom: 40px;">
                <div class="col-md-6 col-xl-4 text-md-start">
                        <p style="color: rgb(0, 0, 0);">
                            <h4>Mixed land use</h4>
                            <p>Amsterdam has compact urban form meaning that everything is relatively a short distance away, which makes biking quick and efficient. Many neighbourhoods in Amsterdam are mixed-use with residential, commercial and institutional buildings close to each other. This makes biking or walking to a shop or a school from your home easiest mode of transport.</p>
                            <h4>Bike lanes</h4>
                            <p>Extensive network of bike lanes are separated from the motor vehicle traffic with physical barriers. Bike lanes are also clearly marked with different colored roads and signs. There are also several streets were cars are allowed but cyclists have priority.</p>
                            <h4>Car-free zones</h4>
                            In the city center many areas are also completely car-free, such as the Dam Square or the Red Light District. Walking and biking is therefore prioritized in this areas, making them calmer and safer. In other areas traffic is calmed with reduced speed limits, narrow roads and traffic circles. 
                        </p>    
                </div>
                <div class="col-md-6 col-xl-6" style="margin-left: 40px;">
                    <div><img class="rounded img-fluid shadow w-100 fit-cover" style="min-height: 300px;" src="static/img/UCI Photos/amsterdam_city.jpg" width="354" height="300"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Articles-->
    <div class="container text-center section-bg" style="padding-top: 40px; padding-bottom: 25px;">
        <div class="row">
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/img/UCI Photos/bike_lane.jpg" alt="">
                <p></p>
                <h2 class="fw-normal">Guide to bike lanes</h2>
                <p>This is a guide to building safe and efficient bike lanes. The guide has illustrations of different crossroads and offers information about the advantages of different solutions.</p>
                <p><a class="btn btn-secondary" href="https://ruraldesignguide.com" target="_blank">Read &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/img/UCI Photos/buildings.jpg" alt="">
                <p></p>
                <h2 class="fw-normal">Build environment and biking</h2>
                <p>How does the build environment effect the decision to bike. Are there diffences in different demographic groups? Read this academic paper to find out.</p>
                <p><a class="btn btn-secondary" href="https://www.jtlu.org/index.php/jtlu/article/view/1350" target="_blank" style="margin-top: 25px;">Read &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="static/img/UCI Photos/bike_rack.jpg" alt="">
                <p></p>
                <h2 class="fw-normal">Land use and biking</h2>
                <p>This academic paper looks into the relation between land use and bicycle usage.</p>
                <p><a class="btn btn-secondary" href="https://www.jstor.org/stable/26967246?casa_token=6oevbc0ZMqUAAAAA%3AuhGezbJklFCDgjyc-_xMMqRR0IFc3_63wR4EEj8YJVOb3y2cp_r8oZlNAIR_7T4a1vwFDldaIXEsR_TuYxkBZrsH3_3DdNAplke_Gs4l3XWPGBh-D-UG" target="_blank" style="margin-top: 45px;">Read &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>
        
    <div class="container-fluid" style="padding-bottom: 40px; margin-top: 40px;">
        <div class="row justify-content-end">
            <div class="col-12 col-md-10 col-lg-11"></div>
            <div class="col-12 col-md-2 col-lg-1 text-right">
                <a class="btn btn-primary" href="/missions" role="button">Next</a>
            </div>
        </div>
    </div>
    
{% endblock %}