<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lelylaan Station</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark navbar-shrink" style="background: rgb(0, 0, 0);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/overview">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/follow_up">Follow up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="row location-title">
        <div class="col text-center">
            <h1>OV-Fiets system</h1>
            <span>Lelylaan station
            </span>
        </div>
    </div>
    
    <!--New mission layout-->
    <div class="container" style="padding-top: 40px; padding-bottom: 40px;">
     
        <div class="row section-bg">
            
            <div class="album py-5">
                <div class="container">

                    <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                        <div>
                            <h1 class="fw-bold">Missions</h1>
                            <p></p>
                            <h2 class="card-text">Interview a local (200 points)</h2>
                            <p>Find the person supervising the “OV-Fiets” at the Lelylaan station, a large hub for transit in Amsterdam. Ask them:</p>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">A.</h5>
                                    <p>What is the OV-Fiets system?</p>
                                </div>
                            </div>
                        </a>    
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">B.</h5>
                                    <p>How does someone use the system?</p>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">C.</h5>
                                    <p>Is the system successful or growing?</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">D.</h5>
                                    <p>How is the quality/durability of the bicycles?</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    
                    <p></p>

                    <!--Bonus-->
                    <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                        <div>
                            <h2 class="card-text">&#9734; Bonus (100 points)</h2>
                            <p>Interview 2 people using OV-Fiets.</p>
                        </div>
                    </div>
                        
                        
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">E.</h5>
                                    <p>How often do they use OV-Fiets?</p>
                                </div>
                            </div>
                        </a>    
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">F.</h5>
                                    <p>What do they like about the system?</p>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">G.</h5>
                                    <p>Does taking the train+bike replace car trips?</p>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div> 

                </div>
            </div>

        </div>
    </div>    

    <div class="container">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 30px;">
            <p class="fw-bold text-success"></p>
            <p></p>
            <h1 class="fw-bold"> Information </h1>

        </div>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" style="padding-bottom: 40px;">
                <div class="col-md-6 col-xl-4 text-md-start">
                        <p style="color: rgb(0, 0, 0);">
                        People frequently use rental bikes for efficient transportation inside Amsterdam. Amsterdam's primary mode of transit is biking, thus it would be fascinating for urban planners to observe how dependent people are on bikes. The success of the ov-fiets system can be seen by the urban planners for themselves, and they can see how they are easily accessible in most stations in Amsterdam so that people can conveniently come and borrow or leave their ov-fiet bike for convenience.
                        <p></p>
                        On an OV-fiets, people can enjoy the independence of finishing their journey. To quickly discover how many bicycles are available at the station of their choice, they can just check the NS app. You can rent an OV-fiets from various stations for just € 4.45 per day per bicycle, making it a well-known affordable choice for renting bicycles.
                        </p>
                </div>
                <div class="col-md-6 col-xl-6" style="margin-left: 40px;">
                    <div><img class="rounded img-fluid shadow w-100 fit-cover" style="min-height: 300px;" src="static/img/UCI Photos/ov-fiets_eCCagB6.jpg" width="354" height="300"></div>
                </div>
            </div>
        </div>
        
        <div class="container text-center" style="padding: 20px;">
            <a class="btn btn-primary" href="map.html" role="button">Next</a>
        </div>
        
    </div>
</body>
</html>