{% extends 'location.html' %}

{% block head %}

    <title> OV-Fiets system </title>

{% endblock %}

{% block body %}

    <div class="container text-center" style="padding-top: 60px; padding-bottom: 40px;">
        <h1 class="fw-bold">OV-Fiets system</h1>
        <span>Lelylaan station</span>
    </div>
            
    <!--Missions layout-->
    <div class="container" style="padding-bottom: 40px;">
     
        <div class="row section-bg">
            
            <div class="album py-5">
                <div class="container">

                    <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                        <div>
                            <h2 class="card-text">Interview a local (200 points)</h2>
                            <p>Find the person supervising the “OV-Fiets” at the Lelylaan station, a large hub for transit in Amsterdam. Ask them:</p>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">A.</h5>
                                    <p>What is the OV-Fiets system?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>    
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">B.</h5>
                                    <p>How does someone use the system?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">C.</h5>
                                    <p>Is the system successful or growing?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">D.</h5>
                                    <p>How is the quality / durability of the bicycles?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                    
                    <p></p>

                    <!--Bonus-->
                    <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                        <div>
                            <h2 class="card-text">&#9734; Bonus (100 points)</h2>
                            <p>Interview 2 people using OV-Fiets.</p>
                        </div>
                    </div>
                        
                        
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">E.</h5>
                                    <p>How often do they use the OV-Fiets?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>    
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">F.</h5>
                                    <p>What do they like about the system?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">G.</h5>
                                    <p>Does taking the train + bike replace car trips?</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="container text-center" style="padding: 20px;">
                            <a class="btn btn-primary" role="button" onclick="showVerificationMessage()">Submit </a>
                        </div>
                        <div id="verification-message">
                            <p> Missions submitted, well done! </p>
                        </div>
                    </div> 

                </div>
            </div>

        </div>
    </div>    

    <!--Info-->
    <div class="container" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 30px;">
            <p class="fw-bold text-success"></p>
            <h1 class="fw-bold"> Information </h1>
        </div>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="padding-bottom: 40px;">
                <div class="col-md-6 col-xl-4 text-md-start">
                        <p style="color: rgb(0, 0, 0);">                        
                            <p>People frequently use rental bikes for efficient transportation inside Amsterdam. Amsterdam's primary mode of transit is biking, thus it would be fascinating for urban planners to observe how dependent people are on bikes. The success of the ov-fiets system can be seen by the urban planners for themselves, and they can see how they are easily accessible in most stations in Amsterdam so that people can conveniently come and borrow or leave their ov-fiet bike for convenience.</p>
                            On an OV-fiets, people can enjoy the independence of finishing their journey. To quickly discover how many bicycles are available at the station of their choice, they can just check the NS app. You can rent an OV-fiets from various stations for just € 4.45 per day per bicycle, making it a well-known affordable choice for renting bicycles.
                        </p>
                </div>
                <div class="col-md-6 col-xl-6" style="margin-left: 40px;">
                    <div><img class="rounded img-fluid shadow w-100 fit-cover" style="min-height: 300px;" src="static/img/UCI Photos/ov-fiets_eCCagB6.jpg" width="354" height="300"></div>
                </div>
            </div>
        </div>
        
        <div class="container-fluid" style="padding-bottom: 40px;">
            <div class="row justify-content-end">
                <div class="col-12 col-md-10 col-lg-11"></div>
                <div class="col-12 col-md-2 col-lg-1 text-right">
                    <a class="btn btn-primary" href="/missions" role="button">Next</a>
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock %}