{% extends 'layout.html' %}

{% block head %}

    <title> Overview </title>

    <style>
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }

        .card-body {
            color: black;
            text-decoration: none;
        }
        .no-underline {
            text-decoration: none;
        }
    </style>

{% endblock %}

{% block body %}

    <nav class="navbar navbar-dark navbar-expand-md bg-dark navbar-shrink" style="background: rgb(0, 0, 0);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/overview">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/follow_up">Follow up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="breadcrumbs d-flex align-items-center" style="background-image: url(static/img/UCI%20Photos/rinke-dohmen-ZX9c2LkNIms-unsplash.jpg);">
        <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Overview of locations</h2>
        <h5>You can find all the locations, their missions and information here.</h5>

        </div>
    </div>

    <div class="album py-5">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                <a href="/pondok_event_center" class="no-underline">
                    <div class="card mb-4 box-shadow">
                        <img class= "card-img-top card-img"src="https://www.holland.com/upload_mm/3/c/c/76096_fullimage_fietsen%20door%20amsterdam%20rosshelen%20via%20shutterstock.jpg" alt="Image">
                        <div class="card-body">
                            <h5 class="card-text">Daily mobility</h5>
                            <p>Pondok Event Center</p>
                        </div>
                    </div>
                </a>    
                </div>
                <div class="col-md-4">
                <a href="/lelylaan_station" class="no-underline">
                    <div class="card mb-4 box-shadow">
                        <img class= "card-img-top card-img"src="../static/img/UCI Photos/ov-fiets_eCCagB6.jpg" alt="Image">
                        <div class="card-body">
                            <h5 class="card-text">OV-fiets system</h5>
                            <p>Lelylaan station</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-4">
                <a href="/heemstedestraat" class="no-underline">
                    <div class="card mb-4 box-shadow">
                        <img class= "card-img-top card-img" src="../static/img/UCI Photos/land-use.jpg" alt="Image">
                        <div class="card-body">
                            <h5 class="card-text">Land use</h5>
                            <p>Heemstedestraat and Westlandgracht</p>
                        </div>
                    </div>
                </a>
                </div>
        

            </div>

            
            <div class="row">
                <div class="col-md-4">
                <a href="/central_station" class="no-underline">
                    <div class="card mb-4 box-shadow">
                        <img class= "card-img-top card-img"src="../static/img/UCI Photos/rinke-dohmen-ZX9c2LkNIms-unsplash.jpg" alt="Image">
                        <div class="card-body">
                            <h5 class="card-text">Traffic flow</h5>
                            <p>Central Station</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-4">
                <a href="/sint_antoniesbreestraat" class="no-underline">
                    <div class="card mb-4 box-shadow">
                        <img class= "card-img-top card-img"src="../static/img/UCI Photos/Jan Pieter Heijestraat 1971.jpg" alt="Image">
                        <div class="card-body">
                            <h5 class="card-text">History and culture</h5>
                            <p>Sint Antoniesbreestraat</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-4">
                <a href="/botanical_gardens" class="no-underline">
                    <div class="card mb-4 box-shadow">
                        <img class= "card-img-top card-img"src="../static/img/UCI Photos/traffic-infrastructure.jpg" alt="Image">
                        <div class="card-body">
                            <h5 class="card-text">Traffic infrastructure</h5>
                            <p>Botanical gardens: Hortus Botanicus</p>
                        </div>
                    </div>
                </a>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-4">
                <a href="/roeterseiland_campus" class="no-underline">
                    <div class="card mb-4 box-shadow">
                        <img class= "card-img-top card-img"src="../static/img/UCI Photos/filip-mishevski-7zpbeV1E7ps-unsplash.jpg" alt="Image">
                        <div class="card-body">
                            <h5 class="card-text">Bike parking</h5>
                            <p>Roeterseiland campus University of Amsterdam</p>
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
    
    </div>
    
{% endblock %}