{% extends 'location.html' %}

{% block head %}

    <title> Daily mobility </title>

{% endblock %}

{% block body %}

    <div class="container text-center" style="padding-top: 60px; padding-bottom: 40px;">
        <h1 class="fw-bold">Daily mobility</h1>
        <span>Discover how people make their daily trip to the supermarket and how this relates to infrastructure and the surrounding environment.</span>
    </div>
       
    <!--Missions layout-->
    <div class="container" style="padding-bottom: 40px;">
        
            <div class="row section-bg">

                <div class="album py-5">
                    <div class="container">
    
                        <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                            <div>
                                <h2 class="card-text">Fieldwork (300 points)</h2>
                                <p>Find an Albert Heijn (grocery store) outside the city center. Observe the surrounding environment:</p>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">A.</h5>
                                        <p>Is there residential/housing available nearby?<br>Little / medium / a lot</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">B.</h5>
                                        <p>Are there other services or amenities nearby?<br>Little / medium / a lot</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">C.</h5>
                                        <p>Is there a transit stop nearby?<br>Yes / no / can’t see one</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
    
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">D.</h5>
                                        <p>Is there a bike path nearby?<br>Yes / no / can’t see one</p>
                                        <br>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">E.</h5>
                                        <p>Is there an underground car parking garage available?<br>Yes / no</p>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">F.</h5>
                                        <p>Count how many parking places are available for:
                                        <br>a. cars
                                        <br>b. bicycles
                                        <br>c. scooters</p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">G.</h5>
                                        <p>Observe 10 customers arriving or departing the store. How many are
                                            <br>a. by foot?
                                            <br>b. by bike?
                                            <br>c. by scooter?
                                            <br>d. by car?
                                            <br>e. by transit?</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                                <label class="form-check-label" for="exampleCheckbox"></label>
                                            </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        
                        <p></p>
    
                        <!--Bonus-->
                        <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                            <div>
                                <h2 class="card-text">&#9734; Bonus (100 points)</h2>
                                <p>Interview 2 customers leaving the store.</p>
                            </div>
                        </div>
                            
                            
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">H.</h5>
                                        <p>Did they come by bike, foot, car or public transport?</p>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">I.</h5>
                                        <p>Why did they choose this store? Take detailed notes.</p>
                                        <br>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                            <label class="form-check-label" for="exampleCheckbox"></label>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="container text-center" style="padding: 20px;">
                                <a class="btn btn-primary" role="button" onclick="showVerificationMessage()">Submit </a>
                            </div>
                            <div id="verification-message">
                                <p> Missions submitted, well done! </p>
                            </div>
                        </div> 
    
                    </div>
                </div>
    
            </div>
    
    </div>
    
    <div class="container-fluid" style="padding-bottom: 40px;">
        <div class="row justify-content-end">
            <div class="col-12 col-md-10 col-lg-11"></div>
            <div class="col-12 col-md-2 col-lg-1 text-right">
                <a class="btn btn-primary" href="/missions" role="button">Next</a>
            </div>
        </div>
    </div>

{% endblock %}