{% extends 'location.html' %}

{% block head %}

    <title> Daily mobility </title>

{% endblock %}

{% block body %}
    <div class="row location-title">
        <div class="col text-center">
            <h1>Daily mobility</h1>
            <span>Pondok Events Center
            <p>&rarr; Near start</p></span>
        </div>
    </div>
    <div class="row row-location">
    </div>
    
    <div class="row row-normal">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 30px;">
            <p class="fw-bold text-success"></p>
            <h1 class="fw-bold">Missions</h1>   
        </div>
    </div>
        
    <!--New mission layout-->
    <div class="container" style="padding-top: 40px; padding-bottom: 40px;">
     
            <div class="row section-bg">
                
                <div class="album py-5">
                    <div class="container">
    
                        <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                            <div>
                                <h1 class="fw-bold">Missions</h1>
                                <h2 class="card-text">Fieldwork (300 points)</h2>
                                <p>Find an Albert Heijn (grocery store) outside the city and outside of the A10 highway. Observe the surrounding environment:</p>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">A.</h5>
                                        <p>Is there residential/housing available nearby: <br>little / medium / a lot</p>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">B.</h5>
                                        <p>Are there other services or amenities nearby: <br>little / medium / a lot</p>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">C.</h5>
                                        <p>Is there a transit stop nearby: <br>yes / no / can’t see one</p>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
    
                        
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">D.</h5>
                                        <p>Is there a bike path nearby: <br>yes / no / can’t see one</p>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">E.</h5>
                                        <p>Is there an underground car parking garage available: <br>yes / no<br>little / medium / a lot</p>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">F.</h5>
                                        <p>Count how many parking places are available for:
                                            <br>a. Cars ___
                                            <br>b. Bicycles ___
                                            <br>c. Scooters ___</p>
                                    </div>
                                </div>
                            </a>    
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">G.</h5>
                                        <p>Observe 10 customers arriving or departing the store.
                                            <br>a. by foot? ___
                                            <br>b. by bike? ___
                                            <br>c. by scooter? ___
                                            <br>d. by car? ___
                                            <br>e. by transit? ___</p>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        
                        <p></p>
    
                        <!--Bonus-->
                        <div class="col-md-6 col-xl-6 text-md-start" style="padding-right: 80px;">
                            <div>
                                <h2 class="card-text">&#9734; Bonus (100 points)</h2>
                                <p>Interview 2 customers leaving the store.</p>
                            </div>
                        </div>
                            
                            
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">H.</h5>
                                        <p>Did they come by bike, foot, car, public transport?</p>
                                        <br>
                                    </div>
                                </div>
                            </a>    
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-text">I.</h5>
                                        <p>Why did they choose this store? Take detailed notes.</p>
                                    </div>
                                </div>
                            </a>
                        </div> 
    
                    </div>
                </div>
    
            </div>
    
    </div>
    
    <div class="container text-center" style="padding: 20px;">
        <a class="btn btn-primary" href="map.html" role="button">Next</a>
    </div>
{% endblock %}