{% extends 'location.html' %}

{% block head %}

    <title> Bike parking </title>

{% endblock %}

{% block body %}

    <div class="container text-center" style="padding-top: 60px; padding-bottom: 40px;">
        <h1 class="fw-bold">Bike parking</h1>
        <span>Roeterseiland Campus University of Amsterdam</span>
    </div>
        
    <!--Info-->
    <div class="row justify-content-center" style="padding-bottom: 60px;">
        <div class="col-md-6 col-xl-4" style="padding-right: 60px;">
            <p>Car parking has played a significant role in shaping the urban landscape and mobility patterns of cities. For decades, car-centric planning policies have prioritized the convenience of drivers, resulting in a high demand for parking spaces.</p>
            <p>This has led to the conversion of large portions of city land into parking lots, garages, and on-street parking spaces, often at the expense of pedestrian and cycling infrastructure. As a result, cities have become more congested, polluted, and less walkable, with negative impacts on public health and quality of life.</p>
            <p>Addressing the issues caused by car-centric parking requires a shift towards more sustainable and equitable transportation modes, such as public transit, walking, and cycling, as well as the implementation of policies that discourage car use and prioritize the allocation of public space for people.</p>
        </div>
        <div class="col-xl-4 location-container rounded shadow">
            <img class="location-image" src="../static/img/UCI Photos/Nieuwmarkt 1985 2.png">
        </div>
    </div>

    <!--Missions layout-->
    <div class="container" style="padding-top: 40px; padding-bottom: 40px;">
        
        <div class="row section-bg">
            
            <div class="album py-5">
                <div class="container">

                    <div class="col-lg-10 col-xl-8 text-md-start" style="padding-right: 80px;">
                        <div>
                            <h2 class="card-text">Final stop (100 points) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &#9734; Bonus (100 points)</h2>   
                            <br>                         
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">A.</h5>
                                    <p>Park your bike at the underground bike parking garage at the University (on Nieuwe Achtergracht).</p>
                                    <br>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>    
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5 class="card-text">B.</h5>
                                    <p>Find a student riding a bike with a blue-colored front tire and ask them about it.</p>
                                    <br>                                    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exampleCheckbox">
                                        <label class="form-check-label" for="exampleCheckbox"></label>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div class="container text-center" style="padding: 20px;">
                            <a class="btn btn-primary" role="button">Submit</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!--Info-->
    <div class="container" style="padding-top: 25px; padding-bottom: 25px;">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 30px;">
            <p class="fw-bold text-success"></p>
            <h1 class="fw-bold"> Information </h1>

        </div>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="padding-bottom: 40px;">
                <div class="col-md-6 col-xl-4 text-md-start">
                        <p style="color: rgb(0, 0, 0);">
                            <p>As bikes are an important part of commuting (and traveling), they also require parking spaces. Amsterdam offers a variety of parking spaces only made for bicycles. There are multiple sections, stands and facilities. Due to the growing number of bicycles, the city wants to prevent them ending up on the streets by offering facilities. Additionally, in a facility your bike will be safe from theft and the weather.</p>
                            Most of the facilities are free of charge, at least for a starting period. The underground parking facility at the Roeterseilandcampus of the University of Amsterdam offers more than 4000 places for its students. Students start and end their school day at this bike parking facility, where they share and take part in a cycling culture.
                        </p>
                </div>
                <div class="col-md-6 col-xl-6" style="margin-left: 40px;">
                    <div><img class="rounded img-fluid shadow w-100 fit-cover" style="min-height: 300px;" src="../static/img/UCI Photos/filip-mishevski-7zpbeV1E7ps-unsplash.jpg" width="354" height="300"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Articles-->
    <div class="container text-center section-bg" style="padding-top: 40px; padding-bottom: 25px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-5">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../static/img/UCI Photos/resource 1 roeters.jpg" alt="Cycling to Sustainability">
                <p></p>
                <h2 class="fw-normal">Cycling to Sustainability</h2>
                <p>In 2006, one of the main areas of concern for cyclists was the shortage of safe bike parking
                facilities. Amsterdam has made great progress in the recent years in meeting the needs of its citizens.</p>
                <p><a class="btn btn-secondary" href="https://backend.orlis.difu.de/server/api/core/bitstreams/504e3879-bb07-4d1a-b660-118e97ccb334/content" target="_blank">Read &raquo;</a></p>
            </div><!-- /.col-lg-5 -->
            <div class="col-lg-5 align-self-start">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../static/img/UCI Photos/bhawin-jagad-jmAN63hFl_g-unsplash.jpg" alt="Largest facilities">
                <p></p>
                <h2 class="fw-normal">Largest facilities</h2>
                <p>Amsterdam’s largest bike parking facilities have been built under water.</p>
                <p><a class="btn btn-secondary" href="https://bikecity.amsterdam.nl/en/trending/new-parking-facilities/" target="_blank" style="margin-top: 45px;">Information &raquo;</a></p>
            </div><!-- /.col-lg-5 -->
        </div>
    </div>

    <div class="container text-center" style="margin-bottom: 40px; margin-top: 40px;">
        <a class="btn btn-primary" href="/follow_up" role="button">End</a>
    </div>

{% endblock %}