{% extends 'location.html' %}

{% block head %}

    <title> History and culture </title>

{% endblock %}

{% block body %}

    <div class="row location-title">
        <div class="col text-center">
            <h1 class="fw-bold">History and culture</h1>
            <span> Sint Antoniesbreestraat</span>
        </div>
    </div>
    <div class="row row-location">
    </div>

    <div class="row row-normal">
        <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-bottom: 30px;">
            <p class="fw-bold text-success"></p>
            <h1 class="fw-bold">Missions</h1>   
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col" style="margin-bottom: 2px;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold card-title" style="padding-bottom: 26px;">Ask a local (200 points)</h5>
                        <p class="text-muted card-text mb-4"><span style="color: rgb(0, 0, 0);">On Sint Antoniesbreestraat, ask a local who remembers the 1960s: Why is the architecture different on this street? What happened in the 1960s and why?</span></p>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-bottom: 2px;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold card-title" style="padding-bottom: 26px;"> &#9734; Bonus (50 points)</h5>
                        <p class="text-muted card-text mb-4"><span style="color: rgb(0, 0, 0);">Find the turtle being crushed by a pillar. Translate the Dutch text.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-normal">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col" style="margin-bottom: 2px;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold card-title" style="padding-bottom: 26px;">Interview a local (100 points)</h5>
                        <p class="text-muted card-text mb-4"><span style="color: rgb(0, 0, 0);">Find someone who lives nearby. Where do they get their groceries, how often, and how do they get there?
                        </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-normal">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
            <div class="col" style="margin-bottom: 30px;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="fw-bold card-title" style="padding-bottom: 26px;">Fieldwork (200 points)</h5>
                        <p class="text-muted card-text mb-4"><span style="color: rgb(0, 0, 0);">Find an Albert Heijn (grocery store) in the city center. Observe the surrounding environment. Assess the following qualities:
                            <p>A. Is there residential/housing available nearby: <br>little / medium / a lot</p>
                            <p>B. Are there other services or amenities nearby: <br>little / medium / a lot</p>
                            <p>C. Is there a transit stop nearby: <br>yes / no / can’t see one</p>
                            <p>D. Is there a bike path nearby: <br>yes / no / can’t see one</p>
                            <p>E. Is there an underground car parking garage available: <br>
                            yes / no</p>
                            <p>F. Count how many parking places are available for:
                            <br>a. Cars ___
                            <br>b. Bicycles ___
                            <br>c. Scooters ___</p>
                            <p>G. Observe 10 customers arriving or departing the store.
                            <br>a. by foot? ___
                            <br>b. by bike? ___
                            <br>c. by scooter? ___
                            <br>d. by car? ___
                            <br>e. by transit? ___
                        </span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <div class="container text-center" style="padding: 20px;">
            <a class="btn btn-primary" href="map.html" role="button">Next</a>
        </div>
    </div>

{% endblock %}